/* 1.通用配色系统 */
#uix-easyui .bg-primary {
	background: var(--uix-blue);
	color: var(--uix-light);
}

#uix-easyui .bg-secondary {
	background: var(--uix-grey-600);
	color: var(--uix-light);
}

#uix-easyui .bg-success {
	background: var(--uix-green);
	color: var(--uix-light);
}

#uix-easyui .bg-info {
	background: var(--uix-teal);
	color: var(--uix-light);
}

#uix-easyui .bg-warning {
	background: var(--uix-orange);
	color: var(--uix-light);
}

#uix-easyui .bg-danger {
	background: var(--uix-red);
	color: var(--uix-light);
}

#uix-easyui .bg-red {
	background: var(--uix-red);
	color: var(--uix-light);
}

#uix-easyui .bg-olive {
	background: var(--uix-olive);
	color: var(--uix-light);
}

#uix-easyui .bg-green {
	background: var(--uix-green);
	color: var(--uix-light);
}

#uix-easyui .bg-blue {
	background: var(--uix-blue);
	color: var(--uix-light);
}

#uix-easyui .bg-orange {
	background: var(--uix-orange);
	color: var(--uix-light);
}

#uix-easyui .bg-yellow {
	background: var(--uix-yellow);
	color: var(--uix-light);
}

#uix-easyui .bg-pink {
	background: var(--uix-pink);
	color: var(--uix-light);
}

#uix-easyui .bg-violet {
	background: var(--uix-violet);
	color: var(--uix-light);
}

#uix-easyui .bg-purple {
	background: var(--uix-purple);
	color: var(--uix-light);
}

#uix-easyui .bg-brown {
	background: var(--uix-brown);
	color: var(--uix-light);
}

#uix-easyui .bg-teal {
	background: var(--uix-teal);
	color: var(--uix-light);
}

#uix-easyui .bg-white {
	background: var(--uix-white);
	color: var(--uix-dark);
}

#uix-easyui .bg-black {
	background: var(--uix-black);
	color: var(--uix-light);
}

#uix-easyui .bg-dark {
	background: var(--uix-dark);
	color: var(--uix-light);
}

#uix-easyui .bg-light {
	background: var(--uix-light);
	color: var(--uix-dark);
}

#uix-easyui .bg-darkblue {
	background: var(--uix-darkblue);
	color: var(--uix-light);
}

#uix-easyui .bg-grey {
	background: var(--uix-grey);
	color: var(--uix-light);
}

#uix-easyui .bg-grayish {
	background: var(--uix-grayish);
	color: var(--uix-dark);
}

#uix-easyui .bg-grey-100 {
	background: var(--uix-grey-100);
	color: var(--uix-dark);
}

#uix-easyui .bg-grey-200 {
	background: var(--uix-grey-200);
	color: var(--uix-dark);
}

#uix-easyui .bg-grey-300 {
	background: var(--uix-grey-300);
	color: var(--uix-dark);
}

#uix-easyui .bg-grey-400 {
	background: var(--uix-grey-400);
	color: var(--uix-dark);
}

#uix-easyui .bg-grey-500 {
	background: var(--uix-grey-500);
	color: var(--uix-light);
}

#uix-easyui .bg-grey-600 {
	background: var(--uix-grey-600);
	color: var(--uix-light);
}

#uix-easyui .bg-grey-700 {
	background: var(--uix-grey-700);
	color: var(--uix-light);
}

#uix-easyui .bg-grey-800 {
	background: var(--uix-grey-800);
	color: var(--uix-light);
}

#uix-easyui .bg-grey-900 {
	background: var(--uix-grey-900);
	color: var(--uix-light);
}

/* 浅色背景 */
/* 红色系 */
#uix-easyui .bg-light-red {
	background: #ffd2d2;
}

.bg-light-red,
.border-red {
	border: 1px solid #ff3737;
}

.bg-light-red,
.font-red {
	color: #d20000;
}

/* 橘色系 */
#uix-easyui .bg-light-orange {
	background: #ffd7be;
}

.bg-light-orange,
.border-orange {
	border: 1px solid #ff6c00;
}

.bg-light-orange,
.font-orange {
	color: #ff7300;
}

/* 黄色系 */
#uix-easyui .bg-light-yellow {
	background: #fff5cd;
}

.bg-light-yellow,
.border-yellow {
	border: 1px solid #ffaf00;
}

.bg-light-yellow,
.font-yellow {
	color: #f09600;
}

/* 橄榄色系 */
#uix-easyui .bg-light-olive {
	background: #faffd2;
}

.bg-light-olive,
.border-olive {
	border: 1px solid #afc800;
}

.bg-light-olive,
.font-olive {
	color: #87b400;
}

/* 绿色系 */
#uix-easyui .bg-light-green {
	background: #d7ffbe;
}

.bg-light-green,
.border-green {
	border: 1px solid #46a709;
}

.bg-light-green,
.font-green {
	color: #32a000;
}

/* 青色系 */
#uix-easyui .bg-light-teal {
	background: #c8ffff;
}

.bg-light-teal,
.border-teal {
	border: 1px solid #00beb4;
}

.bg-light-teal,
.font-teal {
	color: #00beb4;
}

/* 蓝色系 */
#uix-easyui .bg-light-blue {
	background: #cdebff;
}

.bg-light-blue,
.border-blue {
	border: 1px solid #2196ef;
}

.bg-light-blue,
.font-blue {
	color: #007ddc;
}

/* 深蓝色系 */
#uix-easyui .bg-light-darkblue {
	background: #d2ebff;
}

.bg-light-darkblue,
.border-darkblue {
	border: 1px solid #3273b4;
}

.bg-light-darkblue,
.font-darkblue {
	color: #0055aa;
}

/* 紫罗兰色系 */
#uix-easyui .bg-light-violet {
	background: #e6dcff;
}

.bg-light-violet,
.border-violet {
	border: 1px solid #915ff5;
}

.bg-light-violet,
.font-violet {
	color: #642dd7;
}

/* 紫色系 */
#uix-easyui .bg-light-purple {
	background: #f5d7ff;
}

.bg-light-purple,
.border-purple {
	border: 1px solid #c855eb;
}

.bg-light-purple,
.font-purple {
	color: #a01ec8;
}

/* 粉色系 */
#uix-easyui .bg-light-pink {
	background: #ffd7f0;
}

.bg-light-pink,
.border-pink {
	border: 1px solid #f05aaf;
}

.bg-light-pink,
.font-pink {
	color: #dc238c;
}

/* 棕色系 */
#uix-easyui .bg-light-brown {
	background: #ffebdc;
}

.bg-light-brown,
.border-brown {
	border: 1px solid #eb823c;
}

.bg-light-brown,
.font-brown {
	color: #aa551e;
}

/* 浅灰色系 */
#uix-easyui .bg-light-grayish {
	background: #f0f0f0;
}

.bg-light-grayish,
.border-grayish {
	border: 1px solid #bebebe;
}

.bg-light-grayish,
.font-grayish {
	color: #787878;
}

/* 灰色系 */
#uix-easyui .bg-light-grey {
	background: #dcdcdc;
}

.bg-light-grey,
.border-grey {
	border: 1px solid #a5a5a5;
}

.bg-light-grey,
.font-grey {
	color: #646464;
}

/* 黑色系 */
#uix-easyui .bg-light-black {
	background: #b9b9b9;
}

.bg-light-black,
.border-black {
	border: 1px solid #787878;
}

.bg-light-black,
.font-black {
	color: #1e1e1e;
}

/* 白色系 */
#uix-easyui .border-white {
	border: 1px solid #e6e6e6;
}

.font-white {
	color: #fff
}

/* 2.easyui按钮样式美化修正 */
#uix-easyui .l-btn {
	border-radius: 2px;
	user-select: none;
}

#uix-easyui .l-btn:hover {
	border: 1px solid transparent;
	filter: none;
}

#uix-easyui .l-btn .l-btn-text {
	line-height: 24px;
}

/* 给easyui按钮增加一个尺寸：tiny */
#uix-easyui .l-btn-tiny .l-btn-text {
	line-height: 18px;
	margin: 0 6px;
	font-size: 12px;
}

/* 按钮加载动画 */
.l-btn-text>i.btn-loading {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid rgba(0, 0, 0, .15);
	border-radius: 50%;
	margin-right: 5px;
	position: relative;
	box-sizing: border-box;
}

.l-btn-text>i.btn-loading::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	width: 100%;
	height: 100%;
	display: block;
	border: 2px solid rgba(0, 0, 0, .15);
	border-top-color: #fff;
	border-radius: 50%;
	animation: animation-loading .6s linear;
	animation-iteration-count: infinite;
}

.l-btn-text>* {
	display: inline-block;
	vertical-align: middle;
}

/* 按钮载入动画 */
@keyframes animation-loading {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* 平铺按钮 */
#uix-easyui .l-btn-plain {
	background: transparent;
}

#uix-easyui .l-btn-plain:hover {
	border-radius: 3px;
}

/* progressbar样式美化及动画效果 */
#uix-easyui .progressbar {
	border-width: 0;
	border-radius: 2px;
	background-color: #f5f5f5;
}

#uix-easyui .progressbar-value {
	border-radius: 2px 0 0 2px;
}

#uix-easyui .progressbar-text {
	font-size: 12px;
	user-select: none;
}

#uix-easyui .progressbar-value>.progressbar-text {
	border-radius: 2px;
}

@keyframes animation-progressbar {
	0% {
		opacity: .25;
		width: 0;
	}

	100% {
		opacity: 0;
		width: 100%;
	}
}

/* progressbar动画 */
.progressbar-animation::after {
	content: "";
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	animation: animation-progressbar 2s ease infinite;
}

/* easyui表单组件样式修正 */
/* 文本框 */
#uix-easyui .textbox {
	border: 1px solid #ddd;
}

#uix-easyui .textbox,
#uix-easyui .textbox .textbox-text {
	margin: 0;
	border-radius: 0;
	transition: border .2s;
}

#uix-easyui .textbox .textbox-text {
	padding-left: 10px;
	padding-right: 10px;
}

#uix-easyui .textbox .textbox-addon {
	background-color: #fff;
	border: none;
	z-index: 1;
}

/* 文本框获取焦点 */
#uix-easyui .textbox-focused {
	border-color: #bbb;
	box-shadow: unset;
}

/* 无效文本框 */
#uix-easyui .textbox-invalid {
	border-color: #ff5722;
	background-color: #fff;
}

#uix-easyui .textbox-label {
	width: unset;
}

#uix-easyui .textbox-label:not(:first-child) {
	padding-left: 15px;
}

#uix-easyui .textbox-icon {
	font-family: "iconfont" !important;
	color: #666;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#uix-easyui .textbox-icon::before {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

/* 密码框显示密码 */
#uix-easyui .passwordbox-open {
	background: unset;
}

#uix-easyui .passwordbox-open::before {
	content: "\e66d";
}

/* 隐藏密码 */
#uix-easyui .passwordbox-close {
	background: unset;
}

#uix-easyui .passwordbox-close::before {
	content: "\e694";
}

#uix-easyui .searchbox .textbox-addon-right {
	border-left: 1px solid #ccc;
}

#uix-easyui .searchbox .textbox-addon {
	background: #f8f8f8;
}

/* 搜索框 */
#uix-easyui .searchbox-button {
	background: unset;
}

#uix-easyui .searchbox-button::before {
	content: "\e6ca";
}

/* 带icon的按钮 */
#uix-easyui .l-btn-icon-left .l-btn-text:not(.l-btn-empty) {
	margin: 3px 18px 3px 28px;
}

#uix-easyui .m-btn-downarrow,
.s-btn-downarrow {
	display: flex;
	background: unset;
}

#uix-easyui .m-btn-downarrow::before,
.s-btn-downarrow::before {
	font-family: "iconfont" !important;
	font-size: 12px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e6f0";
	margin-top: 3px;
}

/* l-btn按钮滑过后样式 */
.l-btn:hover {
	background: unset;
}

.l-btn:hover::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e1e1e1;
}

.m-btn-active,
.s-btn-active {
	background: #e1e1e1;
}

/* 激活态菜单 */
#uix-easyui .menu-active {
	border-radius: 0;
	border: 1px solid #bbb;
	background-color: #e1e1e1;
}

#uix-easyui .combo-arrow,
#uix-easyui .combo-arrow:hover {
	background-color: unset;
}

/* 日期选择框 */
#uix-easyui .datebox .combo-arrow {
	/* background-image: url(../images/datebox_arrow.png);
	background-position: center center; */
	background: unset;
}

#uix-easyui .datebox .combo-arrow::before {
	content: "\e67b";
}







/* 面板 */
#uix-easyui .panel-header,
#uix-easyui .panel-body,
#uix-easyui .accordion {
	border-color: #c5c5c5;
}

#uix-easyui .datebox-button {
	background-color: unset;
	border-top: 1px solid #ddd;
	height: 46px;
	padding: 10px 10px;
	box-sizing: border-box;
	text-align: right;
}

#uix-easyui .datebox-button>table {
	display: inline-block;
	width: unset !important;
	font-size: 0;
}

#uix-easyui .datebox-button>table tr>td:hover {
	background-color: #e1e1e1;
}

#uix-easyui .datebox-button .datebox-button-a {
	display: inline-block;
	box-sizing: border-box;
	font-weight: normal;
	width: 100%;
	height: 26px;
	line-height: 26px;
	border: 1px solid #c9c9c9;
	padding: 0 10px;
	opacity: unset;
	color: #666;
	text-align: center;
}

#uix-easyui .datebox-button>table tr>td:not(:first-child)>a {
	border-left: none;
}

#uix-easyui .calendar-header {
	background-color: unset;
	height: 46px;
	box-sizing: border-box;
	border-bottom: 1px solid #e2e2e2;
}

/* 下拉列表动画 */
@keyframes uix-easyuix-combobox {
	from {
		transform: translate3d(0, 15px, 0);
		opacity: .3
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

#uix-easyui .combo-p {
	margin-top: 3px;
	animation-name: uix-easyuix-combobox;
	animation-duration: .3s;
	animation-fill-mode: both;
	box-shadow: 0 2px 4px rgb(0 0 0 / 12%);
}

/* 日历框 */
#uix-easyui .calendar-prevmonth,
#uix-easyui .calendar-nextmonth,
#uix-easyui .calendar-prevyear,
#uix-easyui .calendar-nextyear {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: unset;
	font-family: iconfont;
	font-size: 16px;
	font-weight: lighter;
	color: #999;
}

#uix-easyui .calendar-prevyear::before {
	content: "\e84b";
}

#uix-easyui .calendar-nextyear::before {
	content: "\e84a";
}

#uix-easyui .calendar-prevmonth::before {
	content: "\e84f";
}

#uix-easyui .calendar-nextmonth::before {
	content: "\e84e";
}

#uix-easyui .calendar-title {
	height: 46px;
	line-height: 46px;
	color: #666;
}

#uix-easyui .calendar-title span {
	margin-top: 9px;
}

#uix-easyui .calendar-day {
	color: #666;
	border-radius: 0;
}

#uix-easyui .calendar-body th {
	background: unset;
}

#uix-easyui .calendar-hover,
#uix-easyui .calendar-nav-hover,
#uix-easyui .calendar-menu-hover {
	background-color: #e1e1e1;
	color: #000000;
}

#uix-easyui .calendar-selected {
	background-color: #5fb878;
	border: unset;
	border-radius: unset;
	color: #fff;
	padding: 0;
}

#uix-easyui .calendar-menu-month {
	border-radius: 0;
	font-weight: normal;
}

#uix-easyui .calendar-menu-year {
	border: 1px solid #ccc;
	border-radius: 0;
	font-weight: normal;
}

#uix-easyui .calendar-menu-prev,
#uix-easyui .calendar-menu-next {
	background: unset;
	font-family: "iconfont";
	height: 28px;
	line-height: 28px;
	color: #666;
}

#uix-easyui .calendar-header .calendar-nav-hover {
	background-color: unset;
}

#uix-easyui .calendar-menu-year-inner .calendar-nav-hover {
	background-color: unset;
}

#uix-easyui .calendar-menu-prev::before {
	content: "\e84f";
}

#uix-easyui .calendar-menu-next::before {
	content: "\e84e";
}

#uix-easyui .spinner .textbox-addon-right {
	border-left: 1px solid #ddd;
}

#uix-easyui .spinner .textbox-addon-left {
	border-right: 1px solid #ddd;
}

#uix-easyui .spinner-arrow.spinner-button-top,
#uix-easyui .spinner-arrow.spinner-button-bottom,
#uix-easyui .spinner-arrow.spinner-button-left,
#uix-easyui .spinner-arrow.spinner-button-right {
	background-color: #f8f8f8;
}

#uix-easyui .spinner-arrow-up,
#uix-easyui .spinner-arrow-down,
#uix-easyui .spinner-button-up,
#uix-easyui .spinner-button-down {
	background: url(../images/spinner_arrows.png);
}

#uix-easyui .spinner-arrow-down {
	background: url(../images/spinner_arrows.png) no-repeat -16px center;
}

#uix-easyui .l-btn-icon-left .spinner-button-up {
	background: url(../images/spinner_arrows.png) no-repeat -32px center;
}

#uix-easyui .l-btn-icon-left .spinner-button-down {
	background: url(../images/spinner_arrows.png) no-repeat -48px center;
}

/* 无文字按钮icon水平居中 */
#uix-easyui .l-btn-icon-left>.l-btn-empty~.l-btn-icon {
	left: 50%;
	margin-left: -8px;
}

/* 下拉框 */
#uix-easyui .combo-arrow {
	/* background: url(../images/combo_arrow.png) no-repeat center center;
	transition: all 0.3s; */
	background: unset;
}

#uix-easyui .combo-arrow::before {
	content: "\e66a";
	transition: all 0.3s;
}










#uix-easyui .combo-arrow.combo-arrow-up::before {
	transform: rotate(180deg);
}

#uix-easyui .combobox-item-hover {
	background-color: #f6f6f6;
	transition: .2s all;
}

#uix-easyui .combobox-item-selected {
	background-color: #5fb878;
	color: #fff;
}

#uix-easyui .combobox-item {
	cursor: pointer;
}

/* 文本域 */
#uix-easyui .textbox textarea.textbox-text {
	padding-top: 6px;
	padding-bottom: 6px;
}

/* 树结构相关 */
#uix-easyui .tree-expanded,
#uix-easyui .tree-expanded-hover,
#uix-easyui .tree-collapsed,
#uix-easyui .tree-collapsed-hover,
#uix-easyui .tree-lines .tree-expanded,
#uix-easyui .tree-lines .tree-root-first .tree-expanded,
#uix-easyui .tree-lines .tree-collapsed,
#uix-easyui .tree-lines .tree-root-first .tree-collapsed,
#uix-easyui .tree-lines .tree-node-last .tree-expanded,
#uix-easyui .tree-lines .tree-root-one .tree-expanded,
#uix-easyui .tree-lines .tree-node-last .tree-collapsed,
#uix-easyui .tree-lines .tree-root-one .tree-collapsed,
#uix-easyui .tree-line,
#uix-easyui .tree-join,
#uix-easyui .tree-joinbottom,
#uix-easyui .tree-folder,
#uix-easyui .tree-folder-open,
#uix-easyui .tree-file,
#uix-easyui .tree-checkbox0,
#uix-easyui .tree-checkbox1,
#uix-easyui .tree-checkbox2,
#uix-easyui .tree-dnd-yes,
#uix-easyui .tree-dnd-no {
	background-image: url(../images/tree_icons.png);
	background-repeat: no-repeat;
}

#uix-easyui .tree-folder {
	background-position: -208px 0;
}

#uix-easyui .tree-folder-open {
	background-position: -224px 0;
}

#uix-easyui .tree-node-hover {
	background-color: #f6f6f6;
	transition: .2s all;
}

#uix-easyui .tree-node-selected {
	background: #5fb878;
	color: #fff;
}

/* 表格相关 */
#uix-easyui .datagrid-row-over,
#uix-easyui .datagrid-header td.datagrid-header-over {
	background: #f6f6f6;
	color: #000000;
	cursor: default;
}

#uix-easyui .datagrid-row-selected {
	background: #5fb878;
}

#uix-easyui .datagrid-header td,
#uix-easyui .datagrid-body td,
#uix-easyui .datagrid-footer td {
	border-color: #eee;
	border-style: solid;
}

#uix-easyui .datagrid-header,
#uix-easyui .datagrid-td-rownumber {
	background: unset;
	background-color: #f6f6f6;
}

/* 面板相关 */
#uix-easyui .panel-header:not(.window-header) {
	padding: 10px 15px;
	background: unset;
	background-color: #f8f8f8;
}

/* 支持面板标题高度自动扩展 */
#uix-easyui .panel-footer {
	border-color: #c5c5c5;
}

#uix-easyui .panel-title {
	color: #333;
	height: unset;
}

#uix-easyui .panel-title>p {
	opacity: .5;
	font-weight: normal;
}

#uix-easyui .panel-title>.right-sub-title {
	display: inline;
	margin-left: 10px;
}

#uix-easyui .bg>.panel-title {
	color: #fff;
}

#uix-easyui .bg.panel-header {
	border-color: transparent;
}

#uix-easyui .panel-icon {
	left: 10px;
}

#uix-easyui .panel-tool {
	height: 22px;
	margin-top: -11px;
}

/* 关闭按钮，按钮大小变为22像素，所以坐标要+3 */
#uix-easyui .panel-tool-close {
	background: url(../images/panel_tools.png) no-repeat -16px 0px;
}

#uix-easyui .bg .panel-tool-close {
	background: url(../images/panel_tools_white.png) no-repeat -16px 0px;
}

#uix-easyui .panel-tool-collapse {
	background: url(../images/panel_tools.png) no-repeat -32px 0px;
}

#uix-easyui .bg .panel-tool-collapse {
	background: url(../images/panel_tools_white.png) no-repeat -32px 0px;
}

#uix-easyui .panel-tool-expand {
	background: url(../images/panel_tools.png) no-repeat -32px -16px;
}

#uix-easyui .bg .panel-tool-expand {
	background: url(../images/panel_tools_white.png) no-repeat -32px -16px;
}

#uix-easyui .panel-tool-min {
	background: url(../images/panel_tools.png) no-repeat 0px 0px;
}

#uix-easyui .bg .panel-tool-min {
	background: url(../images/panel_tools_white.png) no-repeat 0px 0px;
}

#uix-easyui .panel-tool-max {
	background: url(../images/panel_tools.png) no-repeat 0px -16px;
}

#uix-easyui .bg .panel-tool-max {
	background: url(../images/panel_tools_white.png) no-repeat 0px -16px;
}

#uix-easyui .panel-tool-restore {
	background: url(../images/panel_tools.png) no-repeat -16px -16px;
}

#uix-easyui .bg .panel-tool-restore {
	background: url(../images/panel_tools_white.png) no-repeat -16px -16px;
}

#uix-easyui .panel-tool a,
#uix-easyui .bg .panel-tool a {
	width: 22px;
	height: 22px;
	padding: 3px;
	background-origin: content-box;
}

#uix-easyui .panel-tool a:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

/* 布局相关 */
#uix-easyui .layout-split-west {
	border-right: 5px solid #f8f8f8;
}

#uix-easyui .layout-split-proxy-h,
#uix-easyui .layout-split-proxy-v {
	background-color: #c5c5c5;
}

/* 表格相关 */
#uix-easyui .datagrid-header-row,
#uix-easyui .datagrid-row {
	height: 40px;
}

#uix-easyui .datagrid-toolbar {
	padding: 5px 10px;
}

/* 分页条相关 */
#uix-easyui .pagination-first,
#uix-easyui .pagination-prev,
#uix-easyui .pagination-next,
#uix-easyui .pagination-last,
#uix-easyui .pagination-load {
	background-image: url(../images/pagination_icons.png);
}

#uix-easyui .pagination-page-list,
#uix-easyui .pagination .pagination-num {
	border-color: #ddd;
}

#uix-easyui .pagination .pagination-num {
	margin: 0 8px;
}

/* 选项卡 */
#uix-easyui .tabs-header,
#uix-easyui .tabs-tool {
	background-color: #f8f8f8;
}

#uix-easyui .tabs-header {
	padding-top: 6px;
}

#uix-easyui .tabs-header,
#uix-easyui .tabs-scroller-left,
#uix-easyui .tabs-scroller-right,
#uix-easyui .tabs-tool,
#uix-easyui .tabs,
#uix-easyui .tabs-panels,
#uix-easyui .tabs li .tabs-inner,
#uix-easyui .tabs li.tabs-selected .tabs-inner,
#uix-easyui .tabs-header-bottom .tabs li.tabs-selected .tabs-inner,
#uix-easyui .tabs-header-left .tabs li.tabs-selected .tabs-inner,
#uix-easyui .tabs-header-right .tabs li.tabs-selected .tabs-inner {
	border-color: #c5c5c5;
}

#uix-easyui .tabs li .tabs-inner {
	border-radius: 3px 3px 0 0;
	background: unset;
}

#uix-easyui .tabs li.tabs-selected .tabs-inner {
	border-bottom: 1px solid #fff;
	background: unset;
}

#uix-easyui .tabs li .tabs-inner,
#uix-easyui .tabs li.tabs-selected .tabs-inner {
	color: #333;
	user-select: none;
}

#uix-easyui .tabs li .tabs-inner:hover {
	background-color: #eee;
}

#uix-easyui .tabs-closable {
	padding-right: 12px;
}

#uix-easyui .tabs li .tabs-close {
	background: url(../images/tabs_icons.png) no-repeat -32px center;
	border-radius: 2px;
	width: 16px;
	text-align: center;
}

#uix-easyui .tabs li .tabs-close:hover {
	background-color: #FF5722;
}

#uix-easyui .tabs li .tabs-close,
#uix-easyui .tabs-p-tool {
	height: 16px;
	margin-top: -8px;
}

/* .easyui-x .tabs li .tabs-close::after {
	font-family: "iconfont";
	content: "\e82a";
} */

#uix-easyui .tabs li .tabs-close:hover::after {
	color: #eee;
}

#uix-easyui .tabs-scroller-left {
	background: url(../images/tabs_icons.png) no-repeat 1px center;
}

#uix-easyui .tabs-scroller-left:hover,
#uix-easyui .tabs-scroller-right:hover {
	background-color: #FF5722;
	color: #eee;
}

#uix-easyui .tabs-scroller-right {
	background: url(../images/tabs_icons.png) no-repeat -15px center;
}

/* 手风琴 */
#uix-easyui .accordion .accordion-header {
	background-color: #f8f8f8;
}

#uix-easyui .accordion .accordion-header-selected {
	background-color: #5fb878;
}

#uix-easyui .accordion .panel-last>.accordion-header {
	border-bottom-color: #c5c5c5;
}

#uix-easyui .accordion .panel-last>.accordion-header-selected,
#uix-easyui .accordion .panel-last>.accordion-header-border {
	border-bottom-color: #c5c5c5;
}

#uix-easyui .accordion .accordion-header-selected .accordion-collapse::after {
	color: #fff;
}

#uix-easyui .accordion-collapse {
	background: url(../images/accordion_arrows.png) no-repeat 0 0;
}

#uix-easyui .accordion-expand {
	background: url(../images/accordion_arrows.png) no-repeat -16px 0;
}

/* 选项卡相关，由于要比行内样式优先级高，所以此处使用了important */
/* 添加如下样式，使easyui-tab支持原生css响应式，可随transition过渡而自动响应尺寸，动画流畅 */
#uix-easyui .tabs-container.easyui-fluid {
	width: 100% !important
}

#uix-easyui .tabs-container.easyui-fluid>.tabs-header {
	width: 100% !important;
}

#uix-easyui .tabs-container.easyui-fluid>.tabs-panels {
	width: 100% !important;
}

#uix-easyui .tabs-container.easyui-fluid>.tabs-panels>.panel {
	width: 100% !important;
}

#uix-easyui .tabs-container.easyui-fluid>.tabs-panels>.panel>.panel-body {
	width: 100% !important;
}

#uix-easyui .tabs-container .tab-iframe-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}

#uix-easyui .tabs-container .tab-iframe-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	background: #ccc;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

#uix-easyui .tabs-container .tab-iframe-mask-msg {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 30;
	width: 200px;
	height: 50px;
	line-height: 30px;
	margin-top: -25px;
	margin-left: -100px;
	border: 1px solid #d4d4d4;
	padding: 10px 10px 10px 35px;
	background: #fff url(../images/loading.gif) no-repeat 10px center;
}

/* datagrid相关，由于要比行内样式优先级高，所以此处使用了important */
/* 添加如下样式，使easyui-tab支持原生css响应式，可随transition过渡而自动响应尺寸，动画流畅 */
#uix-easyui .datagrid.easyui-fluid {
	width: 100% !important;
}

#uix-easyui .datagrid.easyui-fluid>.panel-header {
	width: 100% !important;
}

#uix-easyui .datagrid.easyui-fluid>.panel-body {
	width: 100% !important;
}

/* window组件相关 */
#uix-easyui .window {
	background: none;
	background-color: #f8f8f8;
}

#uix-easyui .window,
#uix-easyui .window-shadow {
	border-radius: 0;
}

#uix-easyui .window,
#uix-easyui .window .window-body {
	border-color: #c5c5c5;
}

#uix-easyui .window-proxy {
	border-color: #c5c5c5;
}

/* 增大窗口标题高度 */
#uix-easyui .window .panel-title {
	height: 24px;
	line-height: 24px;
}

/* 窗体拖动时的一个遮罩，防止焦点进入到其它组件，停止拖动后移除 */
#uix-easyui .window-drag-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.05);
}

#uix-easyui .window .window-header .panel-with-icon {
	padding-left: 20px;
}

/* 对话框相关样式 */
#uix-easyui .dialog-button {
	border-color: #dddddd #c5c5c5 #c5c5c5 #c5c5c5;
}

/* 弹出消息框样式 */
#uix-easyui .uix-messager-msg {
	display: inline-block;
	opacity: 0;
	max-width: 600px;
	text-align: center;
	padding: 15px 20px;
	background-color: rgba(0, 0, 0, 0.55);
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	position: absolute;
	z-index: 1000000;
	font-weight: bold;
}

/* switchbutton */
#uix-easyui .switchbutton {
	user-select: none;
	border: 1px solid transparent;
	background: #5fb878;
}

#uix-easyui .switchbutton.off {
	border: 1px solid #bbb;
}

#uix-easyui .switchbutton {
	border-radius: 12px;
}

#uix-easyui .switchbutton-handle {
	border-radius: 50%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 1px solid transparent;
	background-color: #fff;
	transition: background-color .3s;
}

#uix-easyui .switchbutton.off .switchbutton-handle {
	background-color: #d2d2d2;
}

#uix-easyui .switchbutton-on {
	background: #5fb878;
	color: #fff;
}

#uix-easyui .switchbutton-off {
	color: #666;
}

#uix-easyui .switchbutton-on,
#uix-easyui .switchbutton-off,
#uix-easyui .switchbutton-handle {
	font-size: 12px;
}

/* 表格详情面板 */
#uix-easyui .datagrid-view2 .datagrid-row-detail {
	margin: 6px 6px 6px 0;
	border: 1px dashed #ccc;
	box-sizing: border-box;
	padding: 10px;
}

#uix-easyui .datagrid-view1 .datagrid-row-detail {
	margin: 0;
	border: none;
}

/* datagrid没有header时，不显示下边框 */
#uix-easyui .datagrid-header[style*='height: 0px'] {
	border-width: 0;
}

#uix-easyui .propertygrid .datagrid-group,
#uix-easyui .propertygrid .datagrid-view1 .datagrid-body,
#uix-easyui .propertygrid .datagrid-view1 .datagrid-row-over,
#uix-easyui .propertygrid .datagrid-view1 .datagrid-row-selected {
	background: #fafafa;
}

/* 分页组件 */
#uix-easyui .pagination-info-left .pagination-info {
	float: left;
}

/* prompt框 */
#uix-easyui .messager-body .messager-input {
	padding-left: 5px;
	border: 1px solid #ccc;
}

/* 表格分页条取消用户选中 */
#uix-easyui .pagination {
	user-select: none;
}

/* 日历组件 */
#uix-easyui .calendar {
	border-color: #ccc;
}