html,
body {
	font-family: "Microsoft Yahei", "微软雅黑", "PingFang SC", "Lantinghei SC", "WenQuanYi Micro Hei", "SimHei", "黑体", "SimSun", "宋体", "Arial", "Helvetica Neue", "Helvetica";
}

a,
a:active,
a:hover,
a:link,
a:visited,
body,
button,
html,
input,
select,
textarea {
	color: #000;
	font-size: 14px;
}

:focus {
	outline: 0;
}

button,
input,
select,
textarea {
	outline: 0;
}

a,
a:active,
a:hover,
a:link,
a:visited {
	text-decoration: none;
	cursor: pointer;
	outline: 0;
}

body,
blockquote,
code,
fieldset,
legend,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
td,
th,
input,
textarea,
ul,
ol,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

legend {
	color: #000;
}

b,
strong {
	font-weight: bold;
}
