/* 1.滚动条美化，注意：此设置仅对webkit内核浏览器有效 */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: rgba(50, 50, 50, .3);
}

::-webkit-scrollbar-track {
	border-radius: 1em;
	background-color: rgba(50, 50, 50, .1);
}

input {
	border: 1px solid #ccc;
}

/* 2.按钮相关，样式可以降低优先级 */
.btn {
	box-sizing: border-box;
	padding: 6px 12px;
	border-radius: 3px;
	display: inline-block;
}

.btn:hover {
	color: #fff;
}

/* 小按钮样式，需要依赖.btn样式，不能单独使用 */
.btn-small {
	padding: 1px 6px;
	border-radius: 2px;
}

.btn,
[uix-on=true] .btn {
	color: #fff;
	/* 为了保证动画协调、不变形不抖，需要有边框，但可将颜色设置为透明 */
	border: 1px solid transparent;
	user-select: none;
}

.btn:hover,
[uix-on=true] a.btn:hover {
	color: #fff;
	border: 1px solid transparent;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

/* 表格相关样式 */
.table {
	background: #fff;
	text-align: left;
	color: rgba(0, 0, 0, 0.87);
	border-collapse: collapse;
}

.table tr td,
.table tr th {
	border: 1px solid #ccc;
	padding: 10px 15px;
}

.table tr th {
	font-weight: bold;
	text-align: inherit;
	color: rgb(60, 60, 60);
	background-color: #f9fafb;
}

.table-striped tr:nth-child(even) {
	background-color: rgba(0, 0, 50, 0.02);
}

.bg,
[uix-on=true] .btn.bg {
	color: #fff;
}

/* 特殊背景色（浅灰色），字体反色 */
.bg-grayish {
	color: #3c3c3c;
}

/* 徽章样式 */
.badge {
	color: #fff;
	padding: 1px 5px;
	font-size: 12px;
	line-height: 12px;
}

.badge-tip {
	display: inline-block;
	width: 8px;
	height: 8px;
	line-height: 8px;
}

.badge,
.badge-tip {
	border-radius: 50px;
	font-weight: normal;
	font-style: normal;
}

/* 四周边框 */
.bordered {
	border: 1px solid #bbb;
}

/* 四周透明边框 */
.border-opacity {
	border: 1px solid transparent;
}

/* 消息条提示 */
.alert {
	border: 1px solid #c5c5c5;
	background-color: #f5f5f5;
	padding: 10px 15px;
	line-height: normal;
	text-indent: 0;
	text-align: left;
	border-radius: 2px;
	box-shadow: 0 2px 3px #e3e3e3;
	position: relative;
}

.alert .alert-close {
	position: absolute;
	right: 0;
	margin: -3px 10px 0 0;
	font-size: 16px;
	cursor: pointer;
}

.alert>.alert-icon {
	width: 16px;
	height: 16px;
	margin: 0 3px 0 0;
	float: left;
	background-image: url(../images/alert_icons.png);
	background-repeat: no-repeat;
}

.alert-title>b {
	display: block;
}

.alert-info>.alert-icon {
	background-position: -64px 0;
}

.alert-success>.alert-icon {
	background-position: -0 0;
}

.alert-error>.alert-icon {
	background-position: -16px 0;
}

.alert-warning .alert-icon {
	background-position: -32px 0;
}

/* 注：以下很多样式使用不同的前缀都是为了提升优先级 */
/* 红色系 */
.bg-red,
.btn.bg-red,
[uix-on=true] .bg.bg-red,
[uix-on=true] .btn.bg-red {
	background: #e61414;
}

.btn.bg-red:hover,
[uix-on=true] .btn.bg-red:hover {
	background: #e61414;
	opacity: .6;
}

.bg-light-red,
.btn.bg-light-red,
[uix-on=true] .bg.bg-light-red,
[uix-on=true] .btn.bg-light-red {
	background: #ffd2d2;
}

.btn.bg-light-red:hover,
[uix-on=true] .btn.bg-light-red:hover {
	background: #ffd2d2;
	opacity: .6;
}

.bg-light-red,
[uix-on=true] .bg-light-red,
[uix-on=true] .btn.bg-light-red:hover,
.border-red {
	border: 1px solid #ff3737;
}

.bg-light-red,
[uix-on=true] .btn.bg-light-red,
[uix-on=true] .btn.bg-light-red:hover,
.font-red,
a.font-red,
[uix-on=true] .font-red {
	color: #d20000;
}

/* 橘色系 */
.bg-orange,
.btn.bg-orange,
[uix-on=true] .bg.bg-orange,
[uix-on=true] .btn.bg-orange {
	background: #ff6c00;
}

.btn.bg-orange:hover,
[uix-on=true] .btn.bg-orange:hover {
	background: #ff6c00;
	opacity: .6;
}

.bg-light-orange,
.btn.bg-light-orange,
[uix-on=true] .bg.bg-light-orange,
[uix-on=true] .btn.bg-light-orange {
	background: #ffd7be;
}

[uix-on=true] .btn.bg-light-orange:hover {
	background: #ffd7be;
	opacity: .6;
}

.bg-light-orange,
[uix-on=true] .bg-light-orange,
[uix-on=true] .btn.bg-light-orange:hover,
.border-orange {
	border: 1px solid #ff6c00;
}

.bg-light-orange,
[uix-on=true] .bg-light-orange,
[uix-on=true] .btn.bg-light-orange:hover,
.font-orange,
a.font-orange,
[uix-on=true] .font-orange {
	color: #ff7300;
}

/* 黄色系 */
.bg-yellow,
.btn.bg-yellow,
[uix-on=true] .bg.bg-yellow,
[uix-on=true] .btn.bg-yellow {
	background: #ffbe00;
}

.btn.bg-yellow:hover,
[uix-on=true] .btn.bg-yellow:hover {
	background: #ffbe00;
	opacity: .6;
}

.bg-light-yellow,
.btn.bg-light-yellow,
[uix-on=true] .bg.bg-light-yellow,
[uix-on=true] .btn.bg-light-yellow {
	background: #fff5cd;
}

[uix-on=true] .btn.bg-light-yellow:hover {
	background: #fff5cd;
	opacity: .6;
}

.bg-light-yellow,
[uix-on=true] .bg-light-yellow,
[uix-on=true] .btn.bg-light-yellow:hover,
.border-yellow {
	border: 1px solid #ffaf00;
}

.bg-light-yellow,
[uix-on=true] .bg-light-yellow,
[uix-on=true] .btn.bg-light-yellow:hover,
.font-yellow,
a.font-yellow,
[uix-on=true] .font-yellow {
	color: #f09600;
}

/* 橄榄色系 */
.bg-olive,
.btn.bg-olive,
[uix-on=true] .bg.bg-olive,
[uix-on=true] .btn.bg-olive {
	background: #afc800;
}

.btn.bg-olive:hover,
[uix-on=true] .btn.bg-olive:hover {
	background: #afc800;
	opacity: .6;
}

.bg-light-olive,
.btn.bg-light-olive,
[uix-on=true] .bg.bg-light-olive,
[uix-on=true] .btn.bg-light-olive {
	background: #faffd2;
}

[uix-on=true] .btn.bg-light-olive:hover {
	background: #faffd2;
	opacity: .6;
}

.bg-light-olive,
[uix-on=true] .bg-light-olive,
[uix-on=true] .btn.bg-light-olive:hover,
.border-olive {
	border: 1px solid #afc800;
}

.bg-light-olive,
[uix-on=true] .bg-light-olive,
[uix-on=true] .btn.bg-light-olive:hover,
.font-olive,
a.font-olive,
[uix-on=true] .font-olive {
	color: #87b400;
}

/* 绿色系 */
.bg-green,
.btn.bg-green,
[uix-on=true] .bg.bg-green,
[uix-on=true] .btn.bg-green {
	background: #41aa00;
}

.btn.bg-green:hover,
[uix-on=true] .btn.bg-green:hover {
	background: #41aa00;
	opacity: .6;
}

.bg-light-green,
.btn.bg-light-green,
[uix-on=true] .bg.bg-light-green,
[uix-on=true] .btn.bg-light-green {
	background: #d7ffbe;
}

[uix-on=true] .btn.bg-light-green:hover {
	background: #d7ffbe;
	opacity: .6;
}

.bg-light-green,
[uix-on=true] .bg-light-green,
[uix-on=true] .btn.bg-light-green:hover,
.border-green {
	border: 1px solid #46a709;
}

.bg-light-green,
[uix-on=true] .bg-light-green,
[uix-on=true] .btn.bg-light-green:hover,
.font-green,
a.font-green,
[uix-on=true] .font-green {
	color: #32a000;
}

/* 青色系 */
.bg-teal,
.btn.bg-teal,
[uix-on=true] .btn.bg-teal,
[uix-on=true] .bg.bg-teal {
	background: #00beb4;
}

.btn.bg-teal:hover,
[uix-on=true] .btn.bg-teal:hover {
	background: #00beb4;
	opacity: .6;
}

.bg-light-teal,
.btn.bg-light-teal,
[uix-on=true] .bg.bg-light-teal,
[uix-on=true] .btn.bg-light-teal {
	background: #c8ffff;
}

[uix-on=true] .btn.bg-light-teal:hover {
	background: #c8ffff;
	opacity: .6;
}

.bg-light-teal,
[uix-on=true] .bg-light-teal,
[uix-on=true] .btn.bg-light-teal:hover,
.border-teal {
	border: 1px solid #00beb4;
}

.bg-light-teal,
[uix-on=true] .bg-light-teal,
[uix-on=true] .btn.bg-light-teal:hover,
.font-teal,
a.font-teal,
[uix-on=true] .font-teal {
	color: #00beb4;
}

/* 蓝色系 */
.bg-blue,
.btn.bg-blue,
[uix-on=true] .bg.bg-blue,
[uix-on=true] .btn.bg-blue {
	background: #007ddc;
}

.btn.bg-blue:hover,
[uix-on=true] .btn.bg-blue:hover {
	background: #007ddc;
	opacity: .6;
}

.bg-light-blue,
.btn.bg-light-blue,
[uix-on=true] .bg.bg-light-blue,
[uix-on=true] .btn.bg-light-blue {
	background: #cdebff;
}

[uix-on=true] .btn.bg-light-blue:hover {
	background: #cdebff;
	opacity: .6;
}

.bg-light-blue,
[uix-on=true] .bg-light-blue,
[uix-on=true] .btn.bg-light-blue:hover,
.border-blue {
	border: 1px solid #2196ef;
}

.bg-light-blue,
[uix-on=true] .bg-light-blue,
[uix-on=true] .btn.bg-light-blue:hover,
.font-blue,
a.font-blue,
[uix-on=true] .font-blue {
	color: #007ddc;
}

/* 深蓝色系 */
.bg-darkblue,
.btn.bg-darkblue,
[uix-on=true] .bg.bg-darkblue,
[uix-on=true] .btn.bg-darkblue {
	background: #004b96;
}

.btn.bg-darkblue:hover,
[uix-on=true] .btn.bg-darkblue:hover {
	background: #004b96;
	opacity: .6;
}

.bg-light-darkblue,
.btn.bg-light-darkblue,
[uix-on=true] .bg.bg-light-darkblue,
[uix-on=true] .btn.bg-light-darkblue {
	background: #d2ebff;
}

[uix-on=true] .btn.bg-light-darkblue:hover {
	background: #d2ebff;
	opacity: .6;
}

.bg-light-darkblue,
[uix-on=true] .bg-light-darkblue,
[uix-on=true] .btn.bg-light-darkblue:hover,
.border-darkblue {
	border: 1px solid #3273b4;
}

.bg-light-darkblue,
[uix-on=true] .bg-light-darkblue,
[uix-on=true] .btn.bg-light-darkblue:hover,
.font-darkblue,
a.font-darkblue,
[uix-on=true] .font-darkblue {
	color: #0055aa;
}

/* 紫罗兰色系 */
.bg-violet,
.btn.bg-violet,
[uix-on=true] .bg.bg-violet,
[uix-on=true] .btn.bg-violet {
	background: #642dd7;
}

.btn.bg-violet:hover,
[uix-on=true] .btn.bg-violet:hover {
	background: #642dd7;
	opacity: .6;
}

.bg-light-violet,
.btn.bg-light-violet,
[uix-on=true] .bg.bg-light-violet,
[uix-on=true] .btn.bg-light-violet {
	background: #e6dcff;
}

[uix-on=true] .btn.bg-light-violet:hover {
	background: #e6dcff;
	opacity: .6;
}

.bg-light-violet,
[uix-on=true] .bg-light-violet,
[uix-on=true] .btn.bg-light-violet:hover,
.border-violet {
	border: 1px solid #915ff5;
}

.bg-light-violet,
[uix-on=true] .bg-light-violet,
[uix-on=true] .btn.bg-light-violet:hover,
.font-violet,
a.font-violet,
[uix-on=true] .font-violet {
	color: #642dd7;
}

/* 紫色系 */
.bg-purple,
.btn.bg-purple,
[uix-on=true] .bg.bg-purple,
[uix-on=true] .btn.bg-purple {
	background: #a01ec8;
}

.btn.bg-purple:hover,
[uix-on=true] .btn.bg-purple:hover {
	background: #a01ec8;
	opacity: .6;
}

.bg-light-purple,
.btn.bg-light-purple,
[uix-on=true] .bg.bg-light-purple,
[uix-on=true] .btn.bg-light-purple {
	background: #f5d7ff;
}

[uix-on=true] .btn.bg-light-purple:hover {
	background: #f5d7ff;
	opacity: .6;
}

.bg-light-purple,
[uix-on=true] .bg-light-purple,
[uix-on=true] .btn.bg-light-purple:hover,
.border-purple {
	border: 1px solid #c855eb;
}

.bg-light-purple,
[uix-on=true] .bg-light-purple,
[uix-on=true] .btn.bg-light-purple:hover,
.font-purple,
a.font-purple,
[uix-on=true] .font-purple {
	color: #a01ec8;
}

/* 粉色系 */
.bg-pink,
.btn.bg-pink,
[uix-on=true] .bg.bg-pink,
[uix-on=true] .btn.bg-pink {
	background: #dc238c;
}

.btn.bg-pink:hover,
[uix-on=true] .btn.bg-pink:hover {
	background: #dc238c;
	opacity: .6;
}

.bg-light-pink,
.btn.bg-light-pink,
[uix-on=true] .bg.bg-light-pink,
[uix-on=true] .btn.bg-light-pink {
	background: #ffd7f0;
}

[uix-on=true] .btn.bg-light-pink:hover {
	background: #ffd7f0;
	opacity: .6;
}

.bg-light-pink,
[uix-on=true] .bg-light-pink,
[uix-on=true] .btn.bg-light-pink:hover,
.border-pink {
	border: 1px solid #f05aaf;
}

.bg-light-pink,
[uix-on=true] .bg-light-pink,
[uix-on=true] .btn.bg-light-pink:hover,
.font-pink,
a.font-pink,
[uix-on=true] .font-pink {
	color: #dc238c;
}

/* 棕色系 */
.bg-brown,
.btn.bg-brown,
[uix-on=true] .bg.bg-brown,
[uix-on=true] .btn.bg-brown {
	background: #be5f1e;
}

.btn.bg-brown:hover,
[uix-on=true] .btn.bg-brown:hover {
	background: #be5f1e;
	opacity: .6;
}

.bg-light-brown,
.btn.bg-light-brown,
[uix-on=true] .bg.bg-light-brown,
[uix-on=true] .btn.bg-light-brown {
	background: #ffebdc;
}

[uix-on=true] .btn.bg-light-brown:hover {
	background: #ffebdc;
	opacity: .6;
}

.bg-light-brown,
[uix-on=true] .bg-light-brown,
[uix-on=true] .btn.bg-light-brown:hover,
.border-brown {
	border: 1px solid #eb823c;
}

.bg-light-brown,
[uix-on=true] .bg-light-brown,
[uix-on=true] .btn.bg-light-brown:hover,
.font-brown,
a.font-brown,
[uix-on=true] .font-brown {
	color: #aa551e;
}

/* 浅灰色系 */
.bg-grayish,
.btn.bg-grayish,
[uix-on=true] .bg.bg-grayish,
[uix-on=true] .btn.bg-grayish {
	color: #787878;
	background: #e1e1e1;
}

.btn.bg-grayish:hover,
[uix-on=true] .btn.bg-grayish:hover {
	color: #787878;
	background: #e1e1e1;
	opacity: .6;
}

.bg-light-grayish,
.btn.bg-light-grayish,
[uix-on=true] .bg.bg-light-grayish,
[uix-on=true] .btn.bg-light-grayish {
	background: #f0f0f0;
}

[uix-on=true] .btn.bg-light-grayish:hover {
	background: #f0f0f0;
	opacity: .6;
}

.bg-light-grayish,
[uix-on=true] .bg-light-grayish,
[uix-on=true] .btn.bg-light-grayish:hover,
.border-grayish {
	border: 1px solid #bebebe;
}

.bg-light-grayish,
[uix-on=true] .bg-light-grayish,
[uix-on=true] .btn.bg-light-grayish:hover,
.font-grayish,
a.font-grayish,
[uix-on=true] .font-grayish {
	color: #787878;
}

/* 灰色系 */
.bg-grey,
.btn.bg-grey,
[uix-on=true] .bg.bg-grey,
[uix-on=true] .btn.bg-grey {
	background: #646464;
}

.btn.bg-grey:hover,
[uix-on=true] .btn.bg-grey:hover {
	background: #5a5a5a;
}

.bg-light-grey,
.btn.bg-light-grey,
[uix-on=true] .bg.bg-light-grey,
[uix-on=true] .btn.bg-light-grey {
	background: #dcdcdc;
}

[uix-on=true] .btn.bg-light-grey:hover {
	background: #dcdcdc;
	opacity: .6;
}

.bg-light-grey,
[uix-on=true] .bg-light-grey,
[uix-on=true] .btn.bg-light-grey:hover,
.border-grey {
	border: 1px solid #a5a5a5;
}

.bg-light-grey,
[uix-on=true] .bg-light-grey,
[uix-on=true] .btn.bg-light-grey:hover,
.font-grey,
a.font-grey,
[uix-on=true] .font-grey {
	color: #646464;
}

/* 黑色 */
.bg-black,
.btn.bg-black,
[uix-on=true] .bg.bg-black,
[uix-on=true] .btn.bg-black {
	background: #1e1e1e;
}

.btn.bg-black:hover,
[uix-on=true] .btn.bg-black:hover {
	background: #1e1e1e;
	opacity: .6;
}

.bg-light-black,
.btn.bg-light-black,
[uix-on=true] .bg.bg-light-black,
[uix-on=true] .btn.bg-light-black {
	background: #b9b9b9;
}

[uix-on=true] .btn.bg-light-black:hover {
	background: #b9b9b9;
	opacity: .6;
}

.bg-light-black,
[uix-on=true] .bg-light-black,
[uix-on=true] .btn.bg-light-black:hover,
.border-black {
	border: 1px solid #787878;
}

.bg-light-black,
[uix-on=true] .bg-light-black,
[uix-on=true] .btn.bg-light-black:hover,
.font-black,
a.font-black,
[uix-on=true] .font-black {
	color: #1e1e1e;
}

/* 白色系 */
.bg-white,
.btn.bg-white,
[uix-on=true] .bg.bg-white,
[uix-on=true] .btn.bg-white {
	background: #fff;
}

.btn.bg-white {
	color: #444;
	border: 1px solid #bbb;
}

.border-white {
	border: 1px solid #e6e6e6;
}

.font-white,
a.font-white,
[uix-on=true] .font-white,
[uix-on=true] .bg.font-white {
	color: #fff
}

.btn.bg-white:hover,
[uix-on=true] .btn.bg-white:hover {
	color: #444;
	background: #e6e6e6;
	border: 1px solid #bbb;
}
