/* easyui按钮样式美化修正 */
.easyui-x .l-btn {
	background: #fff;
	border-radius: 2px;
	user-select: none;
}

.easyui-x .l-btn:hover {
	background: #e6e6e6;
	border: 1px solid #adadad;
	filter: none;
}

.easyui-x .l-btn .l-btn-text {
	line-height: 24px;
	margin: 3px 10px;
}

/* 给easyui按钮增加一个尺寸：tiny */
.easyui-x .l-btn-tiny .l-btn-text {
	line-height: 18px;
	margin: 0 6px;
	font-size: 12px;
}

/* 按钮加载动画 */
.l-btn-text>i.btn-loading {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid rgba(0, 0, 0, .15);
	border-radius: 50%;
	margin-right: 5px;
	position: relative;
	box-sizing: border-box;
}

.l-btn-text>i.btn-loading::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	width: 100%;
	height: 100%;
	display: block;
	border: 2px solid rgba(0, 0, 0, .15);
	border-top-color: #fff;
	border-radius: 50%;
	animation: animation-loading .6s linear;
	animation-iteration-count: infinite;
}

.l-btn-text>* {
	display: inline-block;
	vertical-align: middle;
}

/* 按钮载入动画 */
@keyframes animation-loading {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* 平铺按钮 */
.easyui-x .l-btn-plain {
	background: transparent;
}

.easyui-x .l-btn-plain:hover {
	border-radius: 3px;
}

/* progressbar样式美化及动画效果 */
.easyui-x .progressbar {
	border-width: 0;
	border-radius: 2px;
	background-color: #f5f5f5;
}

.easyui-x .progressbar-value {
	border-radius: 2px 0 0 2px;
}

.easyui-x .progressbar-text {
	font-size: 12px;
	user-select: none;
}

.easyui-x .progressbar-value>.progressbar-text {
	border-radius: 2px;
}

@keyframes animation-progressbar {
	0% {
		opacity: .25;
		width: 0;
	}

	100% {
		opacity: 0;
		width: 100%;
	}
}

/* progressbar动画 */
.progressbar-animation::after {
	content: "";
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	animation: animation-progressbar 2s ease infinite;
}

/* easyui表单样式修正 */
/* 文本框 */
.easyui-x .textbox {
	border: 1px solid #ddd;
}

.easyui-x .textbox,
.easyui-x .textbox .textbox-text {
	margin: 0;
	border-radius: 0;
	transition: border .2s;
}

.easyui-x .textbox .textbox-text {
	padding-left: 10px;
	padding-right: 10px;
}

.easyui-x .textbox .textbox-addon {
	background-color: #fff;
	border: none;
	z-index: 1;
}

/* 文本框获取焦点 */
.easyui-x .textbox-focused {
	border-color: #bbb;
	box-shadow: unset;
}

/* 无效文本框 */
.easyui-x .textbox-invalid {
	border-color: #ff5722;
	background-color: #fff;
}

.easyui-x .textbox-label {
	width: unset;
}

.easyui-x .textbox-label:not(:first-child) {
	padding-left: 15px;
}

/* 密码框察看 */
.easyui-x .passwordbox-open {
	background: url(../images/passwordbox_open.png) no-repeat center center;
}

.easyui-x .passwordbox-close {
	background: url(../images/passwordbox_close.png) no-repeat center center;
}

.easyui-x .searchbox .textbox-addon-right {
	border-left: 1px solid #ccc;
}

.easyui-x .searchbox .textbox-addon {
	background: #f8f8f8;
}

.easyui-x .searchbox-button {
	background: url(../images/searchbox_navigate_button.png) no-repeat center center;
}

/* 带icon的按钮 */
.easyui-x .l-btn-icon-left .l-btn-text:not(.l-btn-empty) {
	margin: 3px 15px 3px 30px;
}

/* 激活态菜单 */
.easyui-x .menu-active {
	border-radius: 0;
	border: 1px solid #bbb;
	background-color: #e1e1e1;
}

.easyui-x .combo-arrow,
.easyui-x .combo-arrow:hover {
	background-color: unset;
}

/* 日期选择框 */
.easyui-x .datebox .combo-arrow {
	background-image: url(../images/datebox_arrow.png);
	background-position: center center;
}

/* 面板 */
.easyui-x .panel-header,
.easyui-x .panel-body,
.easyui-x .accordion {
	border-color: #c5c5c5;
}

.easyui-x .datebox-button {
	background-color: unset;
	border-top: 1px solid #ddd;
	height: 46px;
	padding: 10px 10px;
	box-sizing: border-box;
	text-align: right;
}

.easyui-x .datebox-button>table {
	display: inline-block;
	width: unset !important;
	font-size: 0;
}

.easyui-x .datebox-button>table tr>td:hover {
	background-color: #e1e1e1;
}

.easyui-x .datebox-button .datebox-button-a {
	display: inline-block;
	box-sizing: border-box;
	font-weight: normal;
	width: 100%;
	height: 26px;
	line-height: 26px;
	border: 1px solid #c9c9c9;
	padding: 0 10px;
	opacity: unset;
	color: #666;
	text-align: center;
}

.easyui-x .datebox-button>table tr>td:not(:first-child)>a {
	border-left: none;
}

.easyui-x .calendar-header {
	background-color: unset;
	height: 46px;
	box-sizing: border-box;
	border-bottom: 1px solid #e2e2e2;
}

/* 下拉列表动画 */
@keyframes uix-easyuix-combobox {
	from {
		transform: translate3d(0, 15px, 0);
		opacity: .3
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

.easyui-x .combo-p {
	margin-top: 3px;
	animation-name: uix-easyuix-combobox;
	animation-duration: .3s;
	animation-fill-mode: both;
	box-shadow: 0 2px 4px rgb(0 0 0 / 12%);
}

/* 日历框 */
.easyui-x .calendar-prevmonth,
.easyui-x .calendar-nextmonth,
.easyui-x .calendar-prevyear,
.easyui-x .calendar-nextyear {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: unset;
	font-family: iconfont;
	font-size: 16px;
	font-weight: lighter;
	color: #999;
}

.easyui-x .calendar-prevyear::before {
	content: "\e84b";
}

.easyui-x .calendar-nextyear::before {
	content: "\e84a";
}

.easyui-x .calendar-prevmonth::before {
	content: "\e84f";
}

.easyui-x .calendar-nextmonth::before {
	content: "\e84e";
}

.easyui-x .calendar-title {
	height: 46px;
	line-height: 46px;
	color: #666;
}

.easyui-x .calendar-title span {
	margin-top: 9px;
}

.easyui-x .calendar-day {
	color: #666;
	border-radius: 0;
}

.easyui-x .calendar-body th {
	background: unset;
}

.easyui-x .calendar-hover,
.easyui-x .calendar-nav-hover,
.easyui-x .calendar-menu-hover {
	background-color: #e1e1e1;
	color: #000000;
}

.easyui-x .calendar-selected {
	background-color: #5fb878;
	border: unset;
	border-radius: unset;
	color: #fff;
	padding: 0;
}

.easyui-x .calendar-menu-month {
	border-radius: 0;
	font-weight: normal;
}

.easyui-x .calendar-menu-year {
	border: 1px solid #ccc;
	border-radius: 0;
	font-weight: normal;
}

.easyui-x .calendar-menu-prev,
.easyui-x .calendar-menu-next {
	background: unset;
	font-family: "iconfont";
	height: 28px;
	line-height: 28px;
	color: #666;
}

.easyui-x .calendar-header .calendar-nav-hover {
	background-color: unset;
}

.easyui-x .calendar-menu-year-inner .calendar-nav-hover {
	background-color: unset;
}

.easyui-x .calendar-menu-prev::before {
	content: "\e84f";
}

.easyui-x .calendar-menu-next::before {
	content: "\e84e";
}

.easyui-x .spinner .textbox-addon-right {
	border-left: 1px solid #ddd;
}

.easyui-x .spinner .textbox-addon-left {
	border-right: 1px solid #ddd;
}

.easyui-x .spinner-arrow.spinner-button-top,
.easyui-x .spinner-arrow.spinner-button-bottom,
.easyui-x .spinner-arrow.spinner-button-left,
.easyui-x .spinner-arrow.spinner-button-right {
	background-color: #f8f8f8;
}

.easyui-x .spinner-arrow-up,
.easyui-x .spinner-arrow-down,
.easyui-x .spinner-button-up,
.easyui-x .spinner-button-down {
	background: url(../images/spinner_arrows.png);
}

.easyui-x .spinner-arrow-down {
	background: url(../images/spinner_arrows.png) no-repeat -16px center;
}

.easyui-x .l-btn-icon-left .spinner-button-up {
	background: url(../images/spinner_arrows.png) no-repeat -32px center;
}

.easyui-x .l-btn-icon-left .spinner-button-down {
	background: url(../images/spinner_arrows.png) no-repeat -48px center;
}

/* 无文字按钮icon水平居中 */
.easyui-x .l-btn-icon-left>.l-btn-empty~.l-btn-icon {
	left: 50%;
	margin-left: -8px;
}

/* 下拉框 */
.easyui-x .combo-arrow {
	background: url(../images/combo_arrow.png) no-repeat center center;
	transition: all 0.3s;
}

.easyui-x .combo-arrow.combo-arrow-up {
	transform: rotate(180deg);
}

.easyui-x .combobox-item-hover {
	background-color: #f6f6f6;
	transition: .2s all;
}

.easyui-x .combobox-item-selected {
	background-color: #5fb878;
	color: #fff;
}

.easyui-x .combobox-item {
	cursor: pointer;
}

/* 文本域 */
.easyui-x .textbox textarea.textbox-text {
	padding-top: 6px;
	padding-bottom: 6px;
}

/* 树结构相关 */
.easyui-x .tree-expanded,
.easyui-x .tree-expanded-hover,
.easyui-x .tree-collapsed,
.easyui-x .tree-collapsed-hover,
.easyui-x .tree-lines .tree-expanded,
.easyui-x .tree-lines .tree-root-first .tree-expanded,
.easyui-x .tree-lines .tree-collapsed,
.easyui-x .tree-lines .tree-root-first .tree-collapsed,
.easyui-x .tree-lines .tree-node-last .tree-expanded,
.easyui-x .tree-lines .tree-root-one .tree-expanded,
.easyui-x .tree-lines .tree-node-last .tree-collapsed,
.easyui-x .tree-lines .tree-root-one .tree-collapsed,
.easyui-x .tree-line,
.easyui-x .tree-join,
.easyui-x .tree-joinbottom,
.easyui-x .tree-folder,
.easyui-x .tree-folder-open,
.easyui-x .tree-file,
.easyui-x .tree-checkbox0,
.easyui-x .tree-checkbox1,
.easyui-x .tree-checkbox2,
.easyui-x .tree-dnd-yes,
.easyui-x .tree-dnd-no {
	background-image: url(../images/tree_icons.png);
	background-repeat: no-repeat;
}

.easyui-x .tree-folder {
	background-position: -208px 0;
}

.easyui-x .tree-folder-open {
	background-position: -224px 0;
}

.easyui-x .tree-node-hover {
	background-color: #f6f6f6;
	transition: .2s all;
}

.easyui-x .tree-node-selected {
	background: #5fb878;
	color: #fff;
}

/* 表格相关 */
.easyui-x .datagrid-row-over,
.easyui-x .datagrid-header td.datagrid-header-over {
	background: #f6f6f6;
	color: #000000;
	cursor: default;
}

.easyui-x .datagrid-row-selected {
	background: #5fb878;
}

.easyui-x .datagrid-header td,
.easyui-x .datagrid-body td,
.easyui-x .datagrid-footer td {
	border-color: #eee;
	border-style: solid;
}

.easyui-x .datagrid-header,
.easyui-x .datagrid-td-rownumber {
	background: unset;
	background-color: #f6f6f6;
}

/* 面板相关 */
.easyui-x .panel-header:not(.window-header) {
	padding: 10px 15px;
	background: unset;
	background-color: #f8f8f8;
}

/* 支持面板标题高度自动扩展 */
.easyui-x .panel-footer {
	border-color: #c5c5c5;
}

.easyui-x .panel-title {
	color: #333;
	height: unset;
}

.easyui-x .panel-title>p {
	opacity: .5;
	font-weight: normal;
}

.easyui-x .panel-title>.right-sub-title {
	display: inline;
	margin-left: 10px;
}

.easyui-x .bg>.panel-title {
	color: #fff;
}

.easyui-x .bg.panel-header {
	border-color: transparent;
}

.easyui-x .panel-icon {
	left: 10px;
}

.easyui-x .panel-tool {
	height: 22px;
	margin-top: -11px;
}

/* 关闭按钮，按钮大小变为22像素，所以坐标要+3 */
.easyui-x .panel-tool-close {
	background: url(../images/panel_tools.png) no-repeat -16px 0px;
}

.easyui-x .bg .panel-tool-close {
	background: url(../images/panel_tools_white.png) no-repeat -16px 0px;
}

.easyui-x .panel-tool-collapse {
	background: url(../images/panel_tools.png) no-repeat -32px 0px;
}

.easyui-x .bg .panel-tool-collapse {
	background: url(../images/panel_tools_white.png) no-repeat -32px 0px;
}

.easyui-x .panel-tool-expand {
	background: url(../images/panel_tools.png) no-repeat -32px -16px;
}

.easyui-x .bg .panel-tool-expand {
	background: url(../images/panel_tools_white.png) no-repeat -32px -16px;
}

.easyui-x .panel-tool-min {
	background: url(../images/panel_tools.png) no-repeat 0px 0px;
}

.easyui-x .bg .panel-tool-min {
	background: url(../images/panel_tools_white.png) no-repeat 0px 0px;
}

.easyui-x .panel-tool-max {
	background: url(../images/panel_tools.png) no-repeat 0px -16px;
}

.easyui-x .bg .panel-tool-max {
	background: url(../images/panel_tools_white.png) no-repeat 0px -16px;
}

.easyui-x .panel-tool-restore {
	background: url(../images/panel_tools.png) no-repeat -16px -16px;
}

.easyui-x .bg .panel-tool-restore {
	background: url(../images/panel_tools_white.png) no-repeat -16px -16px;
}

.easyui-x .panel-tool a,
.easyui-x .bg .panel-tool a {
	width: 22px;
	height: 22px;
	padding: 3px;
	background-origin: content-box;
}

.easyui-x .panel-tool a:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

/* 布局相关 */
.easyui-x .layout-split-west {
	border-right: 5px solid #f8f8f8;
}

.easyui-x .layout-split-proxy-h,
.easyui-x .layout-split-proxy-v {
	background-color: #c5c5c5;
}

/* 表格相关 */
.easyui-x .datagrid-header-row,
.easyui-x .datagrid-row {
	height: 40px;
}

.easyui-x .datagrid-toolbar {
	padding: 5px 10px;
}

/* 分页条相关 */
.easyui-x .pagination-first,
.easyui-x .pagination-prev,
.easyui-x .pagination-next,
.easyui-x .pagination-last,
.easyui-x .pagination-load {
	background-image: url(../images/pagination_icons.png);
}

.easyui-x .pagination-page-list,
.easyui-x .pagination .pagination-num {
	border-color: #ddd;
}

.easyui-x .pagination .pagination-num {
	margin: 0 8px;
}

/* 选项卡 */
.easyui-x .tabs-header,
.easyui-x .tabs-tool {
	background-color: #f8f8f8;
}

.easyui-x .tabs-header {
	padding-top: 6px;
}

.easyui-x .tabs-header,
.easyui-x .tabs-scroller-left,
.easyui-x .tabs-scroller-right,
.easyui-x .tabs-tool,
.easyui-x .tabs,
.easyui-x .tabs-panels,
.easyui-x .tabs li .tabs-inner,
.easyui-x .tabs li.tabs-selected .tabs-inner,
.easyui-x .tabs-header-bottom .tabs li.tabs-selected .tabs-inner,
.easyui-x .tabs-header-left .tabs li.tabs-selected .tabs-inner,
.easyui-x .tabs-header-right .tabs li.tabs-selected .tabs-inner {
	border-color: #c5c5c5;
}

.easyui-x .tabs li .tabs-inner {
	border-radius: 3px 3px 0 0;
	background: unset;
}

.easyui-x .tabs li.tabs-selected .tabs-inner {
	border-bottom: 1px solid #fff;
	background: unset;
}

.easyui-x .tabs li .tabs-inner,
.easyui-x .tabs li.tabs-selected .tabs-inner {
	color: #333;
	user-select: none;
}

.easyui-x .tabs li .tabs-inner:hover {
	background-color: #eee;
}

.easyui-x .tabs-closable {
	padding-right: 12px;
}

.easyui-x .tabs li .tabs-close {
	background: url(../images/tabs_icons.png) no-repeat -32px center;
	border-radius: 2px;
	width: 16px;
	text-align: center;
}

.easyui-x .tabs li .tabs-close:hover {
	background-color: #FF5722;
}

.easyui-x .tabs li .tabs-close,
.easyui-x .tabs-p-tool {
	height: 16px;
	margin-top: -8px;
}

/* .easyui-x .tabs li .tabs-close::after {
	font-family: "iconfont";
	content: "\e82a";
} */

.easyui-x .tabs li .tabs-close:hover::after {
	color: #eee;
}

.easyui-x .tabs-scroller-left {
	background: url(../images/tabs_icons.png) no-repeat 1px center;
}

.easyui-x .tabs-scroller-left:hover,
.easyui-x .tabs-scroller-right:hover {
	background-color: #FF5722;
	color: #eee;
}

.easyui-x .tabs-scroller-right {
	background: url(../images/tabs_icons.png) no-repeat -15px center;
}

/* 手风琴 */
.easyui-x .accordion .accordion-header {
	background-color: #f8f8f8;
}

.easyui-x .accordion .accordion-header-selected {
	background-color: #5fb878;
}

.easyui-x .accordion .panel-last>.accordion-header {
	border-bottom-color: #c5c5c5;
}

.easyui-x .accordion .panel-last>.accordion-header-selected,
.easyui-x .accordion .panel-last>.accordion-header-border {
	border-bottom-color: #c5c5c5;
}

.easyui-x .accordion .accordion-header-selected .accordion-collapse::after {
	color: #fff;
}

.easyui-x .accordion-collapse {
	background: url(../images/accordion_arrows.png) no-repeat 0 0;
}

.easyui-x .accordion-expand {
	background: url(../images/accordion_arrows.png) no-repeat -16px 0;
}

/* 选项卡相关，由于要比行内样式优先级高，所以此处使用了important */
/* 添加如下样式，使easyui-tab支持原生css响应式，可随transition过渡而自动响应尺寸，动画流畅 */
.easyui-x .tabs-container.easyui-fluid {
	width: 100% !important
}

.easyui-x .tabs-container.easyui-fluid>.tabs-header {
	width: 100% !important;
}

.easyui-x .tabs-container.easyui-fluid>.tabs-panels {
	width: 100% !important;
}

.easyui-x .tabs-container.easyui-fluid>.tabs-panels>.panel {
	width: 100% !important;
}

.easyui-x .tabs-container.easyui-fluid>.tabs-panels>.panel>.panel-body {
	width: 100% !important;
}

.easyui-x .tabs-container .tab-iframe-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}

.easyui-x .tabs-container .tab-iframe-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	background: #ccc;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.easyui-x .tabs-container .tab-iframe-mask-msg {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 30;
	width: 200px;
	height: 50px;
	line-height: 30px;
	margin-top: -25px;
	margin-left: -100px;
	border: 1px solid #d4d4d4;
	padding: 10px 10px 10px 35px;
	background: #fff url(../images/loading.gif) no-repeat 10px center;
}

/* datagrid相关，由于要比行内样式优先级高，所以此处使用了important */
/* 添加如下样式，使easyui-tab支持原生css响应式，可随transition过渡而自动响应尺寸，动画流畅 */
.easyui-x .datagrid.easyui-fluid {
	width: 100% !important;
}

.easyui-x .datagrid.easyui-fluid>.panel-header {
	width: 100% !important;
}

.easyui-x .datagrid.easyui-fluid>.panel-body {
	width: 100% !important;
}

/* window组件相关 */
.easyui-x .window {
	background: none;
	background-color: #f8f8f8;
}

.easyui-x .window,
.easyui-x .window-shadow {
	border-radius: 0;
}

.easyui-x .window,
.easyui-x .window .window-body {
	border-color: #c5c5c5;
}

.easyui-x .window-proxy {
	border-color: #c5c5c5;
}

/* 增大窗口标题高度 */
.easyui-x .window .panel-title {
	height: 24px;
	line-height: 24px;
}

/* 窗体拖动时的一个遮罩，防止焦点进入到其它组件，停止拖动后移除 */
.easyui-x .window-drag-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.05);
}

.easyui-x .window .window-header .panel-with-icon {
	padding-left: 20px;
}

/* 对话框相关样式 */
.easyui-x .dialog-button {
	border-color: #dddddd #c5c5c5 #c5c5c5 #c5c5c5;
}

/* 弹出消息框样式 */
.easyui-x .uix-messager-msg {
	display: inline-block;
	opacity: 0;
	max-width: 600px;
	text-align: center;
	padding: 15px 20px;
	background-color: rgba(0, 0, 0, 0.55);
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	position: absolute;
	z-index: 1000000;
	font-weight: bold;
}

/* switchbutton */
.easyui-x .switchbutton {
	user-select: none;
	border: 1px solid transparent;
	background: #5fb878;
}

.easyui-x .switchbutton.off {
	border: 1px solid #bbb;
}

.easyui-x .switchbutton {
	border-radius: 12px;
}

.easyui-x .switchbutton-handle {
	border-radius: 50%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 1px solid transparent;
	background-color: #fff;
	transition: background-color .3s;
}

.easyui-x .switchbutton.off .switchbutton-handle {
	background-color: #d2d2d2;
}

.easyui-x .switchbutton-on {
	background: #5fb878;
	color: #fff;
}

.easyui-x .switchbutton-off {
	color: #666;
}

.easyui-x .switchbutton-on,
.easyui-x .switchbutton-off,
.easyui-x .switchbutton-handle {
	font-size: 12px;
}

/* 表格详情面板 */
.easyui-x .datagrid-view2 .datagrid-row-detail {
	margin: 6px 6px 6px 0;
	border: 1px dashed #ccc;
	box-sizing: border-box;
	padding: 10px;
}

.easyui-x .datagrid-view1 .datagrid-row-detail {
	margin: 0;
	border: none;
}

/* datagrid没有header时，不显示下边框 */
.easyui-x .datagrid-header[style*='height: 0px'] {
	border-width: 0;
}

.easyui-x .propertygrid .datagrid-group,
.easyui-x .propertygrid .datagrid-view1 .datagrid-body,
.easyui-x .propertygrid .datagrid-view1 .datagrid-row-over,
.easyui-x .propertygrid .datagrid-view1 .datagrid-row-selected {
	background: #fafafa;
}

/* 分页组件 */
.easyui-x .pagination-info-left .pagination-info {
	float: left;
}

/* prompt框 */
.easyui-x .messager-body .messager-input {
	padding-left: 5px;
	border: 1px solid #ccc;
}

/* 表格分页条取消用户选中 */
.easyui-x .pagination {
	user-select: none;
}

/* 日历组件 */
.easyui-x .calendar {
	border-color: #ccc;
}
